body{
  font-family: sans-serif;
  margin-top: 10vh;
  background-color: lightgray;
}

.container{
  margin: 0 auto;
  width: 99vw;
  height: 99vh;
  background-color: lightgray;
  box-sizing: border-box;
  position: relative;
}

nav{
  margin: 0 auto;
  background-color: skyblue;
  height: 90px;
  width: 99vw;
  /*margin-top: 1%;*/
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  padding: 10px;
}

#navigation {
  /*margin:15px;*/

  list-style: none;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  font-size: 2em;
  padding-left: 10%;
  margin-right: 5%;
   text-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

#navigation li {
  display: inline;
  margin: 0;
  padding-left: 30px;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  font-weight: 700;
  letter-spacing: -.34rem;
  color: lightblue;
}

#navigation li:hover {
color: rgba(0,0,0,.5)
}

#logo{
  list-style: none;

}

#logo li {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -.75rem;
  mix-blend-mode: multiply;
  color: lightblue;
  text-shadow: 3px 3px 5px rgba(0,0,0,.2);
}

#logo li:hover {
  color: rgba(0,0,0,.5)
}


h1{
  text-align: center;
}
