body{
  font-family: sans-serif;
  margin-top: 10vh;
  /*position: relative;*/
}

.container{
  margin: 0 auto;
  width: 99vw;
  height: 99vh;
  background-color: lightgray;
  box-sizing: border-box;
  position: relative;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: red;
  z-index: 9999;
  padding: 5px;
}

#navigation {
  margin:5px;
  padding: 5;
  list-style: none;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  padding-left: 10%;
  margin-right: 5%;
}

#navigation li {
  display: inline;
  margin: 0;
  padding-left: 10px;;
}

#logo{
  list-style: none;

}

#logo li {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -.75rem;
  mix-blend-mode: multiply;
  color: lightblue;
  text-shadow: 3px 3px 5px rgba(0,0,0,.2);
}

main{
  padding-top: 5%;
  margin: 0 auto;
  width: 99vw;
  height: 89vh;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  /*margin-top: 5%;*/
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: white;
}

h1{
  text-align: center;
}

footer {
  clear: both;
  background-color: green;

}
